:root {
  --circle-color:#FFEEDE;
  --accent-color: #FF922C;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
}

body > div:first-of-type {
  padding: 47px 100px 28px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > div:first-of-type > div {
  width: 90vw;
  height: 90vw;
  background: var(--circle-color);
  position: absolute;
  border-radius: 50%;
  left: 20%;
  bottom: 17%;
  z-index: -1;
  animation-name: circle;
  animation-duration: .6;
  /* animation-delay: 1s ; */
  animation-timing-function: ease
}

@keyframes circle {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 170px;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  column-gap: 60px;
}

nav a:last-child {
  justify-self: end;
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}

article {
  width:  367px;
}

article >p:first-child {
  color: var(--accent-color);
  font-size: 44px;
  font-weight: bold;
  line-height: 66px;
  animation: up 1s ease;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

article > h2 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 12px;
  animation: up 1.5s ease;
}

article >p:nth-of-type(2) {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 28px;
}

article > button {
  width: 163px;
  height: 48px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 24px;
  background: var(--accent-color);
  color: white;
  box-shadow: none;
  transition: transform 300ms ease, box-shadow 300ms ease;
}

article > button:hover {
  /* transform: scale(1.2);
  box-shadow: 0 2px 30px rgba(0, 0, 0, .5); */
  animation: wiggle .5s ease;
}

/* article > button:active {
  animation: up 1s ease;
} */

/* .wiggle {

} */

@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

section {
  position: relative;
  height: 600px;
  width: 600px;
  justify-self: center;
  border: 1px dashed #e87f1e;
  border-radius: 50%;
  justify-self: center;
}


section img {
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: -50px;
  transform: rotate(0deg);
  transform-origin: center 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 50%;
  will-change: transform, opacity;
  animation: plate 2s ease;
}

@keyframes plate {
  from {
    transform: rotate(0);
  }
}

section img:nth-of-type(2) {
  transform: rotate(45deg);
}

section img:nth-of-type(3) {
  transform: rotate(90deg);
}

section img:nth-of-type(4) {
  transform: rotate(135deg);
}

section img:nth-of-type(5) {
  transform: rotate(180deg);
}

section img:nth-of-type(6) {
  transform: rotate(225deg);
}

section img:nth-of-type(7) {
  transform: rotate(270deg);
}

section img:nth-of-type(8) {
  transform: rotate(315deg);
}

section img:nth-of-type(1) {
  width: 290px;
  position: relative;
  top: calc(50% - 145px);
  left: calc(50% - 145px);
  animation: big-plate 1s ease;
  transform-origin: center;
}

@keyframes big-plate {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
